<h1>Listing firms</h1>

<table class="firmTable tablesorter">
  <thead>
    <tr>
      <th style="cursor: pointer; cursor: hand;"> <a> Name </a> </th>
      <th style="cursor: pointer; cursor: hand;"><a id="payments"> Amount Billed </a></th> 
      <th></th>
      <th></th> 
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @firms.sort_by_firm_payments.each do |firm| %>
      <tr>
        <td><%= link_to firm.name , firm_path(firm.slug) %></td>
        <td>$<%= firm.all_payments %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

