<h1>Listing agencies</h1>

<table border='1' class="agentTable">
  <thead>
    <tr>
      <th style="cursor: pointer; cursor: hand;"> <a>Name </a></th>
      <th style="cursor: pointer; cursor: hand;"> <a>Actions Sought</a></th>
      <th style="cursor: pointer; cursor: hand;"> <a>Actions Expenditure (Only Target)</a></th>
      <th style="cursor: pointer; cursor: hand;"> <a>Actions Expenditure (Multiple Targets)</a></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.sort_by_sum_payments.each do |agency| %>
      <tr>
        <td><%= link_to agency.name, agency_path(agency.slug) %></td>
        <td><%= agency.actions.length %></td>
        <td>$<%= agency.solo_payments %></td>
        <td>$<%= agency.group_payments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

