<h1>Listing agencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= agency.address %></td>
        <td><%= agency.description %></td>
        <td><%= link_to 'Show', agency_path(agency.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

