<% @lobbyists.sort_by_sum_payments.each do |lobbyist| %>
  <% cache [lobbyist, lobbyist.lobbyist_actions, lobbyist.actions, lobbyist.agencies, lobbyist.clients] do %>
    <tr>
      <td><%= link_to lobbyist.name, lobbyist_path(lobbyist.slug)%></td>
      <td>
      <div class="solo">
        $<span class="contribution"><%= lobbyist.my_payments %></span>
      </div></td>
      <td>
      <div class="group">
        $<span class="contribution"><%= lobbyist.team_payments%></span>
      </div></td>
    </tr>
  <% end %>
<% end %>