<h1>Listing lobbyists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Firm</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lobbyists.each do |lobbyist| %>
      <tr>
        <td><%= lobbyist.name %></td>
        <td><%= lobbyist.firm_id %></td>
        <td><%= link_to 'Show', lobbyist_path(lobbyist.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

