<h1>Listing lobbyists</h1>

<table class="lobbyTable">
  <thead>
    <tr>
      <th style="cursor: pointer; cursor: hand;"><a> Name </a> </th>
      <th style="cursor: pointer; cursor: hand;"><a> Amount Billed Alone </a></th>
      <th style="cursor: pointer; cursor: hand;"><a> Amount Billed With a Group </a></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @lobbyists.sort_by_sum_payments.each do |lobbyist| %>
      <tr>
        <td><%= link_to lobbyist.name, lobbyist_path(lobbyist.slug)%></td>
        <td>$<%= lobbyist.my_payments %></td>
        <td>$<%= lobbyist.team_payments%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

