<h1>Listing lobbyists</h1>

<table class="lobbyTable">
  <thead>
    <tr>
      <th style="cursor: pointer; cursor: hand;"><a> Firm </a> </th>
      <th style="cursor: pointer; cursor: hand;"><a> Name </a> </th>
      <th style="cursor: pointer; cursor: hand;"><a> Amount Billed </a></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @lobbyists.sort_by_payments.each do |lobbyist| %>
      <tr>
        <td><%= lobbyist.firm.name %></td>
        <td><%= lobbyist.name %></td>
        <td>$<%= lobbyist.all_payments%></td>
        <td><%= link_to 'Show', lobbyist_path(lobbyist.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

